.Rproj.user
.Rhistory
.RData
.Ruserdata
/github
/bookdown-minimal-master
/indata
/reports
.httr-oauth
/wordtemplates
/code/rmd_NDB_status_update_cache/
/code/rmd_accession_qa_dashboard_cache/
/code/yo_cache/
/code/yo1_cache/
/code/master_cache/
/vid/
/code/2020_OceanSciences_high_density_communities_THourigan_RPMcGuinn_cache/
/code/2020_OceanSciences_community-pie_charts_THourigan_RPMcGuinn_cache/
/code/test_nceas.docx
/code/test_nceas.html
code/plot_db_growth_through_time.html
code/plot_db_growth_through_time_cache/
images/
code/NDB_images.html
code/NDB_images_cache/
code/NDB_images_files/
code/rmd_accession_qa_dashboard_files/
code/ffos_reporting.docx
code/ffos_reporting.html
code/ffos_reporting_cache/
code/rmd_NDB_status_update.docx
code/rmd_quarterly_report_for_database_update.docx
code/rmd_quarterly_report_for_database_update_cache/
code/rmd_quarterly_report_for_database_update_files/
code/thirty_day_map_challenge.html
code/aoi_report.docx
code/aoi_report.html
code/aoi_report_cache/
code/aoi_report_files/
code/20200624-aoi_report_for_DSowers_RPMcGuinn.docx
code/20200624-aoi_report_for_DSowers_RPMcGuinn.pdf
code/*.html
code/*.docx
code/*.doc
code/aoi_report_SEDCI_cache/
code/aoi_report_SEDCI_files/
code/2020_HAPC_GOMEX_cache/
code/2020_HAPC_GOMEX_files/
code/20201021-0_rmd_quarterly_report_for_database_update_cache/
623220_Dendropathes bacotaylorae_1_623220.JPG
869215_Trissopathes_1_869215.JPG
870798_Heteropathes cf. pacifica_1_870798.JPG
884998_Antipathes_1_884998.png
886728_Stauropathes_1_886728.jpg
924205_Stichopathes_1_924205.jpg
937273_Bathypathes_1_937273.JPG
949836_Stichopathes_3_949836.JPG
970558_Stichopathes_1_970556.jpeg
971288_Bathypathes_1_971284.jpeg
code/20201130_Polygons_Points_SEDCI_RPMcGuinn_cache/
code/20201130_Polygons_Points_SEDCI_RPMcGuinn_files/
code/20201207-1_aoi_report_SEDCI_RPMcGuinn_cache/
code/20201207-1_aoi_report_SEDCI_RPMcGuinn_files/
code/20210303_rmd_accession_qa_dashboard_cache/
code/20210303_rmd_accession_qa_dashboard_files/
code/Rplots.pdf
code/20210324-1_holdings_report_FGBNMS_RPMcGuinn_cache/
code/20210324-1_holdings_report_FGBNMS_RPMcGuinn_files/
code/20210616-0_aoi_report_SEDCI_RPMcGuinn_cache/
code/20210616-0_aoi_report_SEDCI_RPMcGuinn_files/
code/2021_AOI_Analysis_cache/
code/OBIS_AOI_5000m_buffer.xlsx
code/OBIS_AOI_no_buffer.xlsx
_book/libs/*.*
_bookdown_files
_book/libs/gitbook-2.6.7/css/*.*
_book/libs/jquery-2.2.3/*.*
_book/_main_files/
_book/
_book/libs/jquery-2.2.3/*.*
_book/libs/gitbook-2.6.7/css/plugin-bookdown.css
_book/libs/gitbook-2.6.7/css/plugin-fontsettings.css
_book/libs/gitbook-2.6.7/css/plugin-highlight.css
_book/libs/gitbook-2.6.7/css/plugin-search.css
_book/libs/gitbook-2.6.7/css/plugin-table.css
_book/libs/gitbook-2.6.7/css/style.css
_book/libs/gitbook-2.6.7/js/app.min.js
_book/libs/gitbook-2.6.7/js/jquery.highlight.js
_book/libs/gitbook-2.6.7/js/lunr.js
_book/libs/gitbook-2.6.7/js/plugin-bookdown.js
_book/libs/gitbook-2.6.7/js/plugin-fontsettings.js
_book/libs/gitbook-2.6.7/js/plugin-search.js
_book/libs/gitbook-2.6.7/js/plugin-sharing.js
_book/libs/jquery-2.2.3/jquery.min.js
code/DSBS16_HI_Analysis_cache/
code/20210823-0_DSBS16_HI_Analysis.pdf
code/20210823-3_DSBS16_HI_Analysis.pdf
code/DSBS16_HI_Analysis_files/
code/20210824-0_DSBS16_HI_Analysis.pdf
code/20210827-0_SERO_Jax_Spain_Cable_cache/
code/20210827-0_SERO_Jax_Spain_Cable_files/
code/20210827-0_SERO_Jax_Spain_Cable.pdf
code/20211025-0_AOI_Analysis_New_England_FMCR_DSCRTP_NatDB_20210803-0_RPMcGuinn_cache/
code/20211025-0_AOI_Analysis_New_England_FMCR_DSCRTP_NatDB_20210803-0_RPMcGuinn_files/
code/20220309_rmd_accession_qa_dashboard_cache/
.secrets
code/20230330-0_rmd_accession_qa_dashboard_cache/
code/20230731-0_rmd_accession_qa_dashboard_cache/
gis/
.RDataTmp
code/20230828-0_rmd_quarterly_report_for_database_update_cache/
.RDataTmp1
code/20240320-0_rmd_accession_qa_dashboard_cache/
code/20240325-0_rmd_quarterly_report_for_database_update_cache/
code/20241126_AOI_Analysis_Southeast_RPMcGuinn_cache/20241126_AOI_Analysis_Southeast_RPMcGuinn.md/cache/
code/20241126_AOI_Analysis_Southeast_RPMcGuinn_files/figure/
20241126_AOI_Analysis_Southeast_RPMcGuinn.md
cache/
code/20241126_AOI_Analysis_Southeast_RPMcGuinn_cache/
code/20241126_AOI_Analysis_Southeast_RPMcGuinn_files/
figure/
indata20240711-1_NOAA_AFSC_GOA_MACE_DropCam_2013_123180_taxonomy_patch.csv
code/20230718-0_rmd_accession_qa_dashboard_cache/docx/load_NDB_a941f94c52a019d834522f559c0157d9.RData
code/20230718-0_rmd_accession_qa_dashboard_cache/docx/__packages
code/20250310-0_NE_Canyons_Monument_143822.pdf
code/20250310-0_NE_Canyons_Monument_143822_cache/
code/20250310-0_NE_Canyons_Monument_143822_files/
code/mod_ndb_aoi_cache/

.Rdata
.DS_Store
.quarto
CYB.fasta
code/20250409-0_rmd_quarterly_report_for_database_update_cache/
code/20250523_Aleutian_aoi_AWeinnig_cache/
