.Rproj.user
.Rhistory
.RData
.Ruserdata
/github
/bookdown-minimal-master
/indata
/reports
.httr-oauth
/wordtemplates
/code/rmd_NDB_status_update_cache/
/code/yo_cache/
/code/yo1_cache/
/code/master_cache/
/vid/
